body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#container {
  display: flex;
  flex-direction: column;
}
p {
  text-align: center;
}

#controls {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.playerControls {
  flex: 1;
  background-color: salmon;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.field {
  padding: 10px;
  
}
#playButton {
  width: 5em;
  height: 3em;
  font-size: x-large;
  margin: 0px auto;
}







#gameboard {
  margin: 0 auto;
  float: left;
  /* flex-direction: column; */
}
.gameCell {
  /* flex: 1; */
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}
.newRow {
  clear: left;
}
